.border {
    background-color: rgb(231, 230, 230);
    margin-top: 100px;
    margin-bottom: 90px;
    padding-bottom: 20px;
}

.header-background {
    /* background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../pics/header-background.jpg); */
    padding-top: 25pxx;
    padding-bottom: 20px;
}

h1 {
    color: rgb(240, 118, 118);
    font-family: 'Lobster', cursive;
}

#navflex {
    justify-content: flex-end;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    border: none;
    background-color: hsl(268, 52%, 60%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  fieldset {
      margin-bottom: 20px;
      border: thick;
  }