.border {
    background-color: rgb(211, 209, 209);
    margin-top: 100px;
    margin-bottom: 90px;
    padding-bottom: 20px;
}

.header-background {
    padding-top: 25px;
    padding-bottom: 20px;
}

h1 {
    color: rgb(97, 112, 201);
    font-family: 'PT Sans', sans-serif;
}

h2 {
    color: rgb(31, 84, 114);
    font-family: 'PT Sans', sans-serif;
}

#navflex {
    justify-content: flex-end;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    border: none;
    background-color: hsl(212, 48%, 45%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  .btnTwo {
    background-color: rgb(108, 255, 248); 
    cursor: pointer;
    border-width: thick;
    border-color: cadetblue;
  }

  fieldset {
    margin-bottom: 20px;
    border: thick;
  }

  footer {
    padding-top: 20px;
  }

  .center {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }